@import '~antd/dist/antd.css';

.Clients {
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Clients-AddButton {
  padding: 16px;
}

.Clients-Table {
    margin-right: 16px;
}

.Clients-Icons {
    padding-right: 16px;
    font-size: 20px;

}